body {
    background: url("images/upfeathers.png");
    /*Background pattern from subtlepatterns.com*/
    font-family: 'Cabin', sans-serif;
}

#name-logo {
    margin: 10vh auto;
    margin-top: 15vh;
    height: 70vh;
}

#action-button {
    position: fixed;
    top: 30px;
    right: 24px;
}

#responsive-container {
    width: 70vw;
    margin: 25vh auto;
}

h3 {
    color: #ff5252;
}

.card-image {
    height: 100%;
    margin: auto 0;
}

.card-image, .card {
    max-height: 100%;
}

p {
    padding: 2%;
    color: #ff5252;
    line-height: 1.3em;
    font-size: 1.3em;
}

.card-action a {
    font-size: 1.3em;
}


/*
scrolldown codepen https://codepad.co/snippet/YPDXE33r*/

.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

.scroll-down {
    position: relative;
    margin-top: 20%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 42px;
    height: 42px;
    border: 3px solid #4db6ac;
    background-size: 2vh auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid #4db6ac;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
